<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VARIABLE</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <h2>His first name was {{first_name | lower | capfirst }} and last name was {{last_name | lower | capfirst}}</h2>
    <h2>{{somelist}}</h2>
    <h2>{{somedict}}</h2>
    <h2> { # this is a comment # } </h2>
</body>
</html>